<div class="wrapper">
  <div class="page-header clear-filter" filter-color="orange">
    <div class="page-header-image rellax-header" data-rellax-speed="-7" style="background-image: url('assets/img/c.jpg');">

    </div>
      <div class="container">
          <div class="content-center brand">
              <img class="n-logo" src="assets/img/now-logo.png" alt="">
              <h1 class="h1-seo">DMVC</h1>
              <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
          </div>
      </div>
  </div>

  <div class="main">
    <section class="my-5 py-5">
        <div class="container">
            <div class="row text-center my-sm-5 mt-5">
              <div class="col-lg-12 mx-auto">
                <span class="badge bg-primary mb-3">Boost creativity</span>
                <h2 class="">Unlocking Insights, Empowering Growth</h2>
                <p class="lead">The easiest way to get started is to use one of our <br /> pre-built example pages. </p>
              </div>
          </div>
          <div class="row align-items-center">
            <div class="col-lg-4 ms-auto me-auto p-lg-4 mt-lg-0 mt-4">
              <div class="rotating-card-container">
                <div class="card card-rotate card-background card-background-mask-primary shadow-primary mt-md-0 mt-5">
                  <div class="front front-background" style="background-image: url(https://images.unsplash.com/photo-1569683795645-b62e50fbf103?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=987&q=80); background-size: cover;height: 70vh;">
                    <div class="card-body py-7 text-center">
                      <i class="material-icons text-white text-4xl my-3">touch_app</i>
                      <h3 class="text-white">Feel the <br /> Difference!</h3>
                      <p class="text-white opacity-8">All the Bootstrap components that you need in a development have been re-design with the new look.</p>
                    </div>
                  </div>
                  <div class="back back-background" style="background-image: url(https://images.unsplash.com/photo-1498889444388-e67ea62c464b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1365&q=80); background-size: cover;height: 70vh;">
                    <div class="card-body pt-7 text-center">
                      <h3 class="text-white">Discover More</h3>
                      <p class="text-white opacity-8"> You will save a lot of time going from prototyping to full-functional code because all elements are implemented.</p>
                      <a href=".//sections/page-sections/hero-sections.html" target="_blank" class="btn btn-white btn-sm w-50 mx-auto mt-3">Start with Headers</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 ms-auto">
              <div class="row justify-content-start">
                <div class="col-md-6">
                  <div class="info">
                    <i class="material-icons text-gradient text-primary text-3xl">content_copy</i>
                    <h5 class="font-weight-bolder mt-3">Financial/Operational Data Analytics</h5>
                    <p class="pe-5">· Cost and Profitability Analytics

                      ·  Strategic Financial Management Reporting
                      
                      ·  Balanced Score Card and Key Performance Indicators (KPI) Design</p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="info">
                    <i class="material-icons text-gradient text-primary text-3xl">flip_to_front</i>
                    <h5 class="font-weight-bolder mt-3">Dashboard Design/Reporting</h5>
                    <p class="pe-3">·        Real-Time Business Intelligence Reporting

                      ·        Process mapping & operational design flow
                      
                      ·        Data integration and user interface design
                      
                      ·        Sales & Marketing Dashboard Design and Reporting</p>
                  </div>
                </div>
              </div>
              <div class="row justify-content-start mt-5">
                <div class="col-md-6 mt-3">
                  <i class="material-icons text-gradient text-primary text-3xl">price_change</i>
                  <h5 class="font-weight-bolder mt-3"> Process Flow Mapping</h5>
                  <p class="pe-5">·        Streamlining of workflows to enhance efficiency.

                    ·        Identification of bottlenecks and areas for improvement
                    
                    ·        Integration of automation solutions to optimize processes.
                    
                    ·        Customized process design tailored to specific organizational needs.
                    
                    </p>
                </div>
                <div class="col-md-6 mt-3">
                  <div class="info">
                    <i class="material-icons text-gradient text-primary text-3xl">devices</i>
                    <h5 class="font-weight-bolder mt-3">SAP Implementation and Support</h5>
                    <p class="pe-3">Regardless of the screen size, the website content will naturally fit the given resolution.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="py-7">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 mx-auto text-center">
              <h2 class="mb-0">Trusted by over</h2>
              <h2 class="text-gradient text-primary mb-3">1,679,477+ web developers</h2>
              <p class="lead">Many Fortune 500 companies, startups, universities and governmental institutions love Creative Tim's products. </p>
            </div>
          </div>
          <div class="row mt-6">
            <div class="col-lg-4 col-md-8">
              <div class="card card-plain">
                <div class="card-body">
                  <div class="author">
                    <div class="name">
                      <h6 class="mb-0 font-weight-bolder">Nick Willever</h6>
                      <div class="stats">
                        <i class="far fa-clock"></i> 1 day ago
                      </div>
                    </div>
                  </div>
                  <p class="mt-4">"This is an excellent product, the documentation is excellent and helped me get things done more efficiently."</p>
                  <div class="rating mt-3">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                  </div>
                </div>
              </div>
            </div>
      
            <div class="col-lg-4 col-md-8 ms-md-auto">
              <div class="card bg-gradient-primary">
                <div class="card-body">
                  <div class="author align-items-center">
                    <div class="name">
                      <h6 class="text-white mb-0 font-weight-bolder">Shailesh Kushwaha</h6>
                      <div class="stats text-white">
                        <i class="far fa-clock"></i> 1 week ago
                      </div>
                    </div>
                  </div>
                  <p class="mt-4 text-white">"I found solution to all my design needs from Creative Tim. I use them as a freelancer in my hobby projects for fun! And its really affordable, very humble guys !!!"</p>
                  <div class="rating mt-3">
                    <i class="fas fa-star text-white"></i>
                    <i class="fas fa-star text-white"></i>
                    <i class="fas fa-star text-white"></i>
                    <i class="fas fa-star text-white"></i>
                    <i class="fas fa-star text-white"></i>
                  </div>
                </div>
              </div>
            </div>
      
            <div class="col-lg-4 col-md-8">
              <div class="card card-plain">
                <div class="card-body">
                  <div class="author">
                    <div class="name">
                      <h6 class="mb-0 font-weight-bolder">Samuel Kamuli</h6>
                      <div class="stats">
                        <i class="far fa-clock"></i> 3 weeks ago
                      </div>
                    </div>
                  </div>
                  <p class="mt-4">"Great product. Helped me cut the time to set up a site. I used the components within instead of starting from scratch. I highly recommend for developers who want to spend more time on the backend!."</p>
                  <div class="rating mt-3">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                  </div>
                </div>
              </div>
            </div>
      
          </div>
          <hr class="horizontal dark my-5">
        </div>
      </section>
      <div class="section section-nucleo-icons">
          <div class="container">
              <div class="row">
                  <div class="col-lg-6 col-md-12">
                      <h2 class="title">Heading</h2>
                      <h5 class="description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus fermentum ultrices lacus sed auctor. Maecenas a sapien lobortis, malesuada lacus et, dictum est. Ut sit amet nunc eget nibh posuere lacinia. Cras ut ligula ac sapien bibendum suscipit. Donec consequat justo et cursus faucibus. Quisque interdum lorem ut orci dapibus tempor.
                      </h5>
                      <!-- <div class="nucleo-container">
        <img src="assets/img/nucleo.svg" alt="">
      </div> -->
                      <a [routerLink]="['/nucleoicons']" class="btn btn-primary btn-round btn-lg">View Demo</a>
                      <a href="https://nucleoapp.com/?ref=1712" class="btn btn-primary btn-simple btn-round btn-lg" target="_blank">See More</a>
                  </div>
                  <div class="col-lg-6 col-md-12">
                      <div class="icons-container">
                          <i class="now-ui-icons ui-1_send"></i>
                          <i class="now-ui-icons ui-2_like"></i>
                          <i class="now-ui-icons transportation_air-baloon"></i>
                          <i class="now-ui-icons text_bold"></i>
                          <i class="now-ui-icons tech_headphones"></i>
                          <i class="now-ui-icons emoticons_satisfied"></i>
                          <i class="now-ui-icons shopping_cart-simple"></i>
                          <i class="now-ui-icons objects_spaceship"></i>
                          <i class="now-ui-icons media-2_note-03"></i>
                          <i class="now-ui-icons ui-2_favourite-28"></i>
                          <i class="now-ui-icons design_palette"></i>
                          <i class="now-ui-icons clothes_tie-bow"></i>
                          <i class="now-ui-icons location_pin"></i>
                          <i class="now-ui-icons objects_key-25"></i>
                          <i class="now-ui-icons travel_istanbul"></i>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="section section-signup" style="background-image: url('assets/img/bg11.jpg'); background-size: cover; background-position: top center; min-height: 700px;">
          <div class="container login-page">
            <div class="row">
              <div class="col-md-4 content-center ml-auto mr-auto">
                  <div class="card card-login card-plain">
                      <form class="form" method="" action="">
                          <div class="header header-primary text-center">
                              <div class="logo-container">
                                  <img src="assets/img/now-logo.png" alt="">
                              </div>
                          </div>
                          <div class="content">
                            <div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':focus===true}">
                              <div class="input-group-prepend">
                                  <span class="input-group-text">  <i class="now-ui-icons users_circle-08"></i></span>
                              </div>
                                <input type="text" class="form-control" placeholder="First Name..." (focus)="focus=true" (blur)="focus=false" >
                            </div>
                            <div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':focus1===true}">
                              <div class="input-group-prepend">
                                  <span class="input-group-text"><i class="now-ui-icons text_caps-small"></i></span>
                              </div>
                                <input type="text" placeholder="Last Name..." class="form-control" (focus)="focus1=true" (blur)="focus1=false"/>
                            </div>
                          </div>
                          <div class="footer text-center">
                              <a href="#pablo" class="btn btn-primary btn-round btn-lg btn-block">Get Started</a>
                          </div>
                      </form>
                  </div>
              </div>
            </div>
          </div>
      </div>
      <div class="section section-download" id="#download-section" data-background-color="black">

      </div>
  </div>
  <footer class="footer" data-background-color="black">
      <div class="container">
          <nav>
              <ul>
                  <li>
                      <a href="https://www.com">
                          DMVC                      </a>
                  </li>
                  <li>
                      <a href="https://www.m.com/about-us">
                          About Us
                      </a>
                  </li>
                  <li>
                      <a href="http://blog.im.com">
                          Blog
                      </a>
                  </li>
                  <li>
                      <a href="https://githl/now-ui-kit/blob/master/LICENSE.md">
                          Socials
                      </a>
                  </li>
              </ul>
          </nav>
          <div class="copyright">
              &copy;
            {{data | date: 'yyyy'}}, Designed by
              <a href="https://www.invisionapp.com" target="_blank">DMVC</a>.               <a href="https://www.creative-tim.com" target="_blank"></a>.
          </div>
      </div>
  </footer>
</div>
